<div class="container">
    <div class="card card-container">
        <p id="welcome">Keep Calm And Stay Mom</p>

        <form class="form-signin" style="text-align: center;" method="post" action="/Home/Login">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Username or Email address" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Login" />
        </form>
        <p class="forgot-password" style="cursor: pointer; margin-top: 1em;">Recupera la Password</p>
        <form id="recovery" method="post" style="display: none; text-align: center;" action="/Home/PasswordForgot">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Username or Email address" required>

            </div>
            <input class="btn btn-primary" type="submit" value="Recupera" />
        </form>
    </div>
</div>

<script>$(document).ready(function(){
    $(".forgot-password").click(function () {
        if ($("#recovery").css('display') == 'none')
            $("#recovery").show();
        else
            $("#recovery").hide();
    });
});</script>

<style>

    body, html {
        height: 100%;
        overflow: hidden;
    }

    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
    }

    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    .card {
        background-color: #F7F7F7;
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    #welcome {
        font-size: 22px;
        color: green;
    }

    .btn.btn-signin {
        background-color: rgb(104, 145, 162);
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

        .forgot-password:hover,
        .forgot-password:active,
        .forgot-password:focus {
            color: rgb(12, 97, 33);
        }
</style>