@{
    ViewData["Title"] = "Messaggi";
}

@model KCASM_AppWeb.Models.ForView.Message

<h2>Elenco delle chat</h2>
<div id="chatprofile"></div>
<script>
                  $(document).ready(function () {
                      $("#chatprofile").kendoGrid({
                          dataSource: {
                              data: @Json.Serialize(Model.chatProfiles),
                              schema: {
                                  model: {
                                      fields: {
                                          id: { type: "int" },
                                          name: { type: "string" },
                                          surname: { type: "string" },
                                          toRead: { type: "int" }
                                      }
                                  }
                              },
                              pageSize: 10
                          },
                          height: "30em",
                          groupable: false,
                          sortable: true,
                          pageable: {
                              refresh: false,
                              pageSizes: true,
                              buttonCount: 5
                          },
                          columns: [{
                              field: "name",
                              title: "Nome"
                          }, {
                                  field: "surname",
                                  title: "Cognome"
                              }, {
                                  field: "toRead",
                                  title: "Messaggi da leggere"
                              }, { command: { text: "Entra nella chat", click: function (e) {
                                                e.preventDefault();
                                              var data = this.dataItem($(e.target).closest("tr"));
                                              window.location.href = '@Url.Action("Chat", "Message")?filterId=' + data.id + '&name=' + data.name + '&surname=' + data.surname;
                                            }
                                        }
                                , title: " "
                            }]
                      });
                  });
</script>