@{
    ViewData["Title"] = "Message";
}

@model KCASM_AppWeb.Models.ForView.Message

<h2>Messaggi</h2>

<!-- possibile form di selezione messaggio per segnalare lettura -->

<p style="font: 30px sans-serif; margin-top: 1.5em;">Elenco dei messaggi ricevuti</p>
<div id="received_messages"></div>
<script>
                $(document).ready(function () {
                    $("#medic").kendoGrid({
                        dataSource: {
                            data: @Json.Serialize(Model.Message_received),
                            schema: {
                                model: {
                                    fields: {
                                        Medic_id: { type: "int" },
                                        Patient_id: { type: "int" },
                                        Timedate: { type: "string" },
                                        Subject: { type: "string" },
                                        Message: { type: "string" },
                                        Read: { type: "boolean" }
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        height: "30em",
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "Medic_id",
                            title: "ID del medico"
                        }, {
                            field: "Patient_id",
                            title: "ID della paziente"
                            }, {
                                field: "Timedate",
                                title: "Ora"
                            }, {
                                field: "Subject",
                                title: "Oggetto"
                            }, {
                                field: "Message",
                                title: "Contenuto messaggio"
                            }, {
                                field: "Read",
                                title: "Letto"
                            }]
                    });
                });
</script>

<p style="font: 30px sans-serif; margin-top: 1.5em;">Elenco dei messaggi inviati</p>
<div id="sent_messages"></div>
<script>
                $(document).ready(function () {
                    $("#medic").kendoGrid({
                        dataSource: {
                            data: @Json.Serialize(Model.Message_sent),
                            schema: {
                                model: {
                                    fields: {
                                        Medic_id: { type: "int" },
                                        Patient_id: { type: "int" },
                                        Timedate: { type: "string" },
                                        Subject: { type: "string" },
                                        Message: { type: "string" },
                                        Read: { type: "boolean" }
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        height: "30em",
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "Medic_id",
                            title: "ID del medico"
                        }, {
                            field: "Patient_id",
                            title: "ID della paziente"
                            }, {
                                field: "Timedate",
                                title: "Ora"
                            }, {
                                field: "Subject",
                                title: "Oggetto"
                            }, {
                                field: "Message",
                                title: "Contenuto messaggio"
                            }, {
                                field: "Read",
                                title: "Letto"
                            }]
                    });
                });
</script>

<fieldset style="margin-top: 2em; margin-bottom: 2em;">
    <legend>Invia nuovo messaggio</legend>
    <form id="form_details" method="post" action="/Message/NewMessage">
        <div class="form-group">
            <div class="col-md-3">

                <label>Id destinatario</label>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    if (ViewData["Session"].Equals("Medic"))
                    {
                        foreach (KCASM_AppWeb.Models.ForView.PatientsForMedic p in Model.Patients)
                        {
                            if (p.Id != 0)
                            {
                                listItems.Add(new SelectListItem { Text = Convert.ToString(p.Id), Value = Convert.ToString(p.Id) });
                            }
                        }
                    }
                    else
                    {
                        foreach (KCASM_AppWeb.Models.ForView.MedicsForPatient m in Model.Medics)
                        {
                            if (m.Id != 0)
                            {
                                listItems.Add(new SelectListItem { Text = Convert.ToString(m.Id), Value = Convert.ToString(m.Id) });
                            }
                        }
                    }
                    @Html.DropDownList("senderId", new SelectList(listItems, "Value", "Text"));
                }
                <label>Oggetto</label>
                <input type="text" name="subject" placeholder="Oggetto" required />
                <label>Messaggio</label>
                <input type="text" name="message" placeholder="Messaggio..." required />
            </div>
            <div class="col-md-2">
                <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Invia" />
            </div>
        </div>
    </form>
                    
</fieldset>