<footer class="footer">
    <div class="container">
        <span class="text-muted" style="color: lightgrey;">&copy; @(DateTime.Today.Year) - KeepCalmAndStayMom, tutti i diritti riservati</span>
    </div>
</footer>