@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    if (ViewData["Session"].Equals("Patient"))
                    {
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Patient" asp-action="Patient">Paziente</a></li>
                        <li><a asp-controller="Measures" asp-action="Measures">Misurazioni</a></li>
                        <li><a asp-controller="Tasks" asp-action="Tasks">Tasks</a></li>
                        <li><a asp-controller="Weight" asp-action="Weight">Pesi</a></li>
                        <li><a asp-controller="Message" asp-action="Message">Messaggi</a></li>
                        <li><a asp-controller="Home" asp-action="Logout">Esci</a></li>
                    }
                    else if (ViewData["Session"].Equals("Medic"))
                    {
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Medic" asp-action="Medic">Medico</a></li>
                        <li><a asp-controller="Message" asp-action="Message">Messaggi</a></li>
                        <li><a asp-controller="Home" asp-action="Logout">Esci</a></li>
                    }
                    else if (ViewData["Session"].Equals("MedicPatient"))
                    {
                        <li><a asp-controller="Patient" asp-action="Patient">Paziente</a></li>
                        <li><a asp-controller="Measures" asp-action="Measures">Misurazioni</a></li>
                        <li><a asp-controller="Tasks" asp-action="Tasks">Tasks</a></li>
                        <li><a asp-controller="Weight" asp-action="Weight">Pesi</a></li>
                        <li><a asp-controller="Home" asp-action="Index" style="border-left: 2px solid grey;">Home</a></li>
                        <li><a asp-controller="Medic" asp-action="Medic">Medico</a></li>
                        <li><a asp-controller="Message" asp-action="Message">Messaggi</a></li>
                        <li><a asp-controller="Home" asp-action="Logout">Esci</a></li>
                    }
                    else if (ViewData["Session"].Equals("Admin"))
                    {
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>

<style>
    ul {
        font-weight: bold;
        font-size: 20px;
    }
    li {
        padding-left: 1em;
        padding-right: 1em;
    }
</style>