@model KCASM_AppWeb.Models.Medic;

@if (Model != null)
{
    <h2>Ciao @Model.Name!</h2>

    if (Model.Patients != null)
    {

        List<SelectListItem> listItems = new List<SelectListItem>();

        foreach (string id in Model.Patients.Keys)
        {
            listItems.Add(new SelectListItem { Text = id, Value = id });
        }

        <fieldset style="margin-top:2em">
            <legend>Seleziona l'ID della paziente da visionare</legend>
            <form id="form_settings" method="post">
                <div class="form-horizontal">
                    @Html.DropDownList("Homestation_Id", new SelectList(listItems, "Value", "Text"))
                    <input class="btn btn-primary" type="submit" value="Accedi a questa paziente" />
                </div>
            </form>
        </fieldset>

        <h3>Di seguito sono elencate le tue pazienti</h3>
        <div id="grid" style="margin-top:2em"></div>

        <script>
            $(document).ready(function () {
                $("#grid").kendoGrid({
                    dataSource: {
                        data: @Json.Serialize(Model.Patients.Values),
                        type: "json",
                        schema: {
                            model: {
                                fields: {
                                    homestation_id: { type: "string" },
                                    name: { type: "string" },
                                    age: { type: "number" },
                                    height: { type: "number" },
                                    weight: { type: "number" }
                                }
                            }
                        },
                        pageSize: 10
                    },
                    height: "20em",
                    groupable: false,
                    sortable: true,
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [{
                        field: "homestation_id",
                        title: "ID"
                    }, {
                        field: "name",
                        title: "Nome",
                    }, {
                        field: "age",
                        title: "Età"
                    }, {
                        field: "height",
                        title: "Altezza"
                    }, {
                        field: "weight",
                        title: "Peso",
                        }]
                });
            });
        </script>
    }
    else
    {
        <h3 class="error-message">Non segui ancora nessuna paziente</h3>
    }
}
else
{
    <p class="error-message">Si è verificato un errore. Riprova più tardi</p>
}