@{
    ViewData["Title"] = "Weight";
}

<h2>Weight</h2>

@model KCASM_AppWeb.Models.ForView.Weights

<fieldset style="margin-top: 2em; margin-bottom: 2em;">
    <legend>Aggiungi il peso odierno</legend>
    <form id="form_details" method="post" action="/Weight/NewWeight">
        <div class="form-group">
            <div class="col-md-3">
                <label>Nuovo Peso</label>
                <input type="number" step="0.01" name="weight" placeholder="nuovo peso" required />
            </div>
            <div class="col-md-2">
                <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiungi" />
            </div>
        </div>
    </form>
</fieldset>

<div id="weight"></div> <br />
<script>
            function createChart() {
                $("#weight").kendoChart({
                    title: {
                        text: "Pesi",
                        font: "30px sans-serif",
                        color: "black"
                    },
                    legend: {
                        position: "bottom"
                    },
                    series: [{
                        type: "line",
                        style: "smooth"
                        data: @Model.Weight,
                        name: "Peso",
                        color: "#00ff00",
                        axis: "weight"
                    }, {
                        type: "line",
                        style: "smooth",
                        data: @Model.UpperThreshold,
                        name: "Soglia superiore",
                        color: "#0066ff",
                        axis: "upper"
                        }, {
                            type: "line",
                            style: "smooth",
                            data: @Model.LowerThreshold,
                            name: "Soglia inferiore",
                            color: "#73c100",
                            axis: "lower"
                        }],
                    valueAxes: [{
                        name: "weight",
                        color: "#00ff00",
                        min: 0,
                        max: 250
                    }, {
                        name: "upper",
                        color: "#0066ff",
                        min: 0,
                        max: 250
                        }, {
                            name: "lower",
                            color: "#73c100",
                            min: 0,
                            max: 250
                        }
                    ],
                    categoryAxis: {
                        categories: @Model.Date,
                        axisCrossingValues: [0, 22, 22],
                        justified: true,
                        labels: { rotation: "auto" }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}",
                        template: "#= category #: #= value #"
                    }
                });
            }

            $(document).ready(createChart);
            $(document).bind("kendo:skinChange", createChart);
</script>